:where(.sio-select) {
  width: 100%;
}

:where(.sio-select__control) {
  background-color: transparent;
  border: none;
  min-height: 1em;
  margin-top: -1px;
  margin-bottom: -1px;
  padding: var(--sio-form-padding-y) 0 var(--sio-form-padding-y) var(--sio-form-padding-x);
}

:where(.sio-select__value-container--has-value) {
  font-weight: 400;
}

:where(.sio-select):focus,
:where(.sio-select.sio-select__control--is-focused) {
  outline: 0;
  box-shadow: none;
}

:where(.sio-select__value-container) {
  max-height: 100px;
  overflow: auto;
  padding: 0;
}

:where(.sio-select__value-container div) {
  color: var(--sio-color-gray);
}

:where(.sio-select__value-container .sio-select__input-container) {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:where(.sio-select__value-container .sio-select__input-container input.sio-select__input) {
  color: var(--sio-color-gray);;

  font-weight: 400 !important;
  font-size: 1em !important;
  width: auto !important;
}

:where(.sio-select__value-container .sio-select__placeholder) {
  color: var(--sio-color-light-gray);
  font-weight: 200;
  font-size: 1em;
}

:where(.sio-select__value-container .sio-select__multi-value) {
  color: var(--sio-color-gray);
  background: var(--sio-form-bg);
  font-size: large;
  border-radius: var(--sio-form-border-radius);
  border: 1px solid var(--sio-form-border);
}

:where(.sio-select__value-container .sio-select__multi-value .sio-select__multi-value__label) {
  color: var(--sio-color-gray);
  padding: 0 5px;
}

:where(.sio-select__value-container .sio-select__multi-value .sio-select__multi-value__remove) {
  color: var(--sio-color-primary);

  &:hover {
    background-color: transparent;
  }
}


:where(.sio-select__indicators .sio-select__indicator-separator) {
  margin: 0;
}

:where(.sio-select__indicators .sio-select__indicator.sio-select__dropdown-indicator) {
  padding: 0 5px;
}

:where(.sio-select__indicators .sio-select__clear-indicator) {
  padding: 0 5px;
}

:where(.sio-select .form-field__content) {
  width: 100%;
}

:where(.sio-select__menu-portal),
:where(.sio-select__menu) {
  font-size: 1em;
  font-weight: 400;

  color: var(--sio-color-gray);
  border-color: var(--sio-form-border);
  background-color: var(--sio-form-bg);
}

:where(.sio-select__menu-portal .sio-select__option--is-focused)
:where(.sio-select__menu .sio-select__option--is-focused) {
  background-color: var(--sio-color-light-gray);
}

:where(.sio-select__menu-portal  .sio-select__option--is-selected)
:where(.sio-select__menu .sio-select__option--is-selected) {
  background-color: var(--sio-color-primary);
  color: var(--sio-color-white);
}